@import url('https://fonts.googleapis.com/css2?family=Domine&family=Montserrat:wght@100&display=swap');

body {
  background-color: #6f23ff;
  font-family: 'Montserrat', sans-serif;
  margin: 50px 100px 50px 100px;
  color: black;
  text-align: center;
  
}
*{
  font-family: 'Domine', serif;
}
h1,p{

}
form{
 display: inline-block;

}
#survey-form{
    border: 1px, solid white;

}